* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

ul,
li {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif !important;
  position: relative; }

a {
  display: block;
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

.btn {
  background: #8824cd;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  font-size: 1.5rem;
  padding: 0rem 3rem;
  letter-spacing: 0; }
  .btn:hover {
    color: inherit; }

.row {
  margin-top: 40px; }

.wrapper {
  height: 100%;
  position: relative; }
  .wrapper #main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 0 0 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .wrapper #main-header .nav-button {
      border: 0;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 2rem;
      display: none; }
    .wrapper #main-header #logo {
      display: flex;
      align-items: center; }
      .wrapper #main-header #logo img:first-child {
        margin-right: 10px; }
    .wrapper #main-header nav {
      display: flex;
      align-items: center; }
      .wrapper #main-header nav .nav-close-button {
        display: none; }
      .wrapper #main-header nav .search-form {
        padding: 0 1rem;
        margin: 0;
        position: relative; }
        .wrapper #main-header nav .search-form .search-input {
          border-radius: 16px;
          padding: 1.5rem 2.5rem;
          font-weight: 300;
          font-size: 13px;
          margin: 0;
          border: 0;
          color: #2e3b4e; }
          .wrapper #main-header nav .search-form .search-input:focus {
            border: 0; }
        .wrapper #main-header nav .search-form .search-button {
          border: 0;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          right: 30px; }
      .wrapper #main-header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .wrapper #main-header nav ul li {
          padding: 0 2rem;
          font-weight: 600;
          font-size: 13px; }
          .wrapper #main-header nav ul li a {
            border-bottom: 3px solid transparent;
            padding: 4rem 0;
            transition: 0.2s all ease-in-out; }
            .wrapper #main-header nav ul li a.is-active {
              border-bottom: 3px solid white; }
            .wrapper #main-header nav ul li a:hover {
              color: #8824cd; }
  .wrapper #banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url("../images/banner-img.png") center center no-repeat;
    color: white;
    background-size: cover; }
    .wrapper #banner .container, .wrapper #banner .row {
      height: 100%; }
    .wrapper #banner #banner-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      text-align: right; }
      .wrapper #banner #banner-content h1 {
        font-weight: 500; }

#features {
  color: white;
  background: #2e3b4e;
  padding: 6.5rem 0;
  position: relative; }
  #features:after {
    content: '';
    display: block;
    height: 120px;
    width: 100px;
    background: #2e3b4e;
    border-radius: 70px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px; }
  #features .row:first-child {
    margin-top: 0; }
  #features .row .feature-heading {
    font-size: 1.6rem;
    text-transform: uppercase; }
  #features .row p {
    text-align: justify; }

@media (max-width: 1000px) {
  .wrapper #main-header {
    padding: 4rem 2rem;
    flex-wrap: wrap; }
    .wrapper #main-header .nav-button {
      display: block;
      margin-right: 20px; }
    .wrapper #main-header nav {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 300px;
      background: #8824cd;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: 10rem;
      transform: translate(300px);
      transition: .5s ease-in-out all; }
      .wrapper #main-header nav .nav-close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        color: white;
        border: 0; }
      .wrapper #main-header nav.show-nav {
        transform: translate(0); }
      .wrapper #main-header nav .search-form {
        text-align: center; }
        .wrapper #main-header nav .search-form .search-button {
          right: 70px; }
      .wrapper #main-header nav ul {
        flex-direction: column; }
        .wrapper #main-header nav ul li a {
          padding: 2rem 0; }
          .wrapper #main-header nav ul li a:hover {
            color: #e7526b; }
  .wrapper #banner .container, .wrapper #banner .row {
    height: 100%; }
  .wrapper #banner .columns {
    width: 100%; }
  .wrapper #banner #banner-content {
    align-items: center;
    text-align: center; } }
@media (max-width: 750px) {
  #banner #banner-content h1 {
    font-size: 4rem; } }
@media (max-width: 550px) {
  .row {
    margin-top: 40px; }

  #banner #banner-content h1 {
    font-size: 3.4rem; } }

/*# sourceMappingURL=style.css.map */
